/* General */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* Common/Base Style */
h1 {
    font-size: 2.5rem;
    margin-bottom: 12px;
}

h3 {
    font-size: 1.5rem;
}

.btn-prime {
    background: orange !important;
    font-weight: bold;
    color: #fff;
}

.scroll-box {
    height: 50px;
    width: 50px;
    background: orange;
    position: fixed;
    right: 10px;
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sidebar */
.logo {
    font-size: 1.5rem;
    letter-spacing: 2px;
    background-color: orange;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    height: 100px;
    line-height: 100px;
    font-weight: bold;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    padding: 20px 0;
    transition: .5s ease;
    border-bottom: 1px solid grey;
}

.sidebar i {
    margin-right: 20px;
    color: orange;
}

.sidebar a {
    color: #fff;
}

.sidebar li:hover {
    transform: translateX(5px);
    transition: .5s ease;
}

.sidebar a:hover {
    text-decoration: none;
}

.mobile-menu {
    display: none;
}

/* layout */
.sidebar {
    width: 300px;
    position: fixed;
    bottom: 0;
    top: 0;
    background: #0c0c14;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-right {
    left: 300px;
    position: absolute;
    height: 100%;
    width: calc(100% - 300px);
}

#pp-nav span {
    top: 2px;
    left: 2px;
    width: 7px;
    height: 7px;
    border: 1px solid black;
    position: absolute;
    z-index: 1;
    border-radius: 0;

}

#pp-nav li {
    margin: 5px 0;
}

/* showcase */
.content-box {
    padding: 20px;
    max-width: 500px;
}

.img-box {
    position: relative;
}

.img-box img {
    max-width: 90%;
}

.d-elem {
    position: absolute;
    top: -40px;
    left: -50px;
    z-index: -1;
}

.hero-img {
    border-right: 15px solid orange;
}

/* about */
.about-progress p {
    margin-bottom: 5px;
}

.about-icons a {
    color: #000;
}

/* Service */
.service-icon {
    background: orange;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.service-wrapper h3 {
    text-transform: uppercase;
}

.ball {
    position: absolute;
    right: -500px;
    bottom: 70px;
    width: 700px;
    height: 700px;
    background-color: rgba(255, 165, 0, .05);
    border-radius: 50%;
    transition: 1.5s right;
}

#service-sec.active .ball {
    right: 10px;
}

/* projects */
#project-sec .card-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Contact */
.contact-form h1 {
    margin-bottom: 8%;
    margin-top: -10%;
    color: #000;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: orange;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.form-group {
    padding: 15px 0;
}

input[type="text"] {
    padding: 20px 10px;
}

/* mediaqueries */

@media only screen and (max-width:600px) {
    .sidebar {
        display: none;
    }

    .main-right {
        left: 0;
        height: 100%;
        width: 100%;
    }

    .content-box {
        text-align: center;
        margin-bottom: 80px;
    }

    .mobile-menu {
        display: block;
    }

    .overlay {
        position: fixed;
        left: -60%;
        height: 100vh;
        width: 60%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 9999;
        transition: .5s all;
    }

    .mob-active {
        left: 0;
    }

    .burger {
        position: absolute;
        z-index: 9999;
        right: 20px;
        top: 20px;
    }

    .mobile-menu ul {
        height: inherit;
        display: flex;
        list-style-type: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu li {
        border-bottom: 1px solid grey;
    }

    .mobile-menu a {
        font-size: 15px;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        padding: 20px;
    }

    .ball {
        display: none;
    }
}

#block {
  height: 200px;
}

.block_big {
  width: 750px;
  background-color: chocolate;
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.block_small {
  width: 500px;
  background-color: gold;
  font-size: 20px;
  color: red;
  font-weight: bold;
}


.block_1600{
    width: 750px;
    background-color: blue;
    font-size: 20px;
    color: red;
    font-weight: bold;
}
.block_1200{
    width: 750px;
    background-color: black;
    font-size: 20px;
    color: red;
    font-weight: bold;
}
.block_750{
    width: 750px;
    background-color: orange;
    font-size: 20px;
    color: red;
    font-weight: bold;
}
.block_500{
    width: 750px;
    background-color: floralwhite;
    font-size: 20px;
    color: red;
    font-weight: bold;
}